<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
    
    <!-- meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <style>
      body{
        background: #18181b;
        color: #ddd;
        text-align: center;
      }
      p {
        font-size: 16px;
      }
      
      .wrapper{
        max-width: 700px;
        margin: auto;
      }
      
      .command {
        color: #999;
        text-align: center;
        padding-bottom: 0;
      }  
      
      .item {
         padding: 6px;
          border-radius: 15px;
        transition: all 0.3s;
      }
      .item:hover {
        background: #32322c;
      }
      .item:hover > .command {
        color: #cce;
      }    
      .footer{
        color: #fff;
      }
      
    </style>  
  </head>
  <body>
<div class="wrapper">
        <div>
            <h1>Możliwości bota:</h1>
        </div>
        <div class="item-list">
            <div class="item">
                - stworzenie piramidki z wybranej emotki
            </div>
            <div class="item">
                - automatyczne dodanie piosenki do SR przy wykupieniu piosenki za punkty kanału
            </div>
            <div class="item">
                - automatyczne zatrzymanie spotify przy kupnie piosenki do SR za punkty kanału (jak i przy komendzie !sr) i włączenie spotify po zakończeniu SR *(nie działa zawsze dokładne działanie niżej) 
            </div>
            <div class="item">
                - automatyczne skipnięcie piosenki na SR jak i na spotify za punkty kanału
            </div>
            <div class="item">
                - zgłośnienie spotify jak i SR na wybrany czas za punkty kanału
            </div> 
            <div class="item">
                - pokazanie aktualnego utworu, który leci z SR lub spotify (w zależności co aktualnie leci) 
            </div>
        </div>
        <div>
            <h1>Lista komend:</h1>
        </div>
        <div class="item-list">
            <div class="item">
                <p class="command">piramidka [emote]</p>
                <p>tworzy piramidke 4 stopnia z podanej emotki, bez podania emotki tworzy piramidke 4 stopnia z kezmanJAM
                </p>
            </div>
          <div class="item">
                <p class="command">!song</p>
                <p>Wysyła tytuł oraz link do utworu, który aktualnie leci na SR, jeżeli tam nic nie leci to tytuł i link do piosenki z spotify
                </p>
            </div>       
            <div class="item">
                <p class="command">!playlist/!playlista</p>
                <p>Wysyła playliste spotify, na której aktualnie jest streamer
                </p>
            </div>
            <div class="item">
                <p class="command">srbottest</p>
                <p>sprawdza czy aktualnie bot działa powinno zwrócić "Bot Works!"</p>
            </div>
            <div class="item">
                <p class="command">volume [liczba od 1 do 100]</p>
                <p>komenda do ustalania wybranej głosności spotify </p>
            </div>
            <div class="item">
                <p class="command">!next</p>
                <p>skipuje piosenke na spotify [dostęp ma streamer i bot oraz wybrane osoby przez streamera]</p>
            </div>

            <div class="item">
                <p class="command">volume [liczba od 1 do 100] [liczba sekund]</p>
                <p>planowana komenda do ustalania wybranej głosności SR jak i spotify na wybraną ilość sekund </p>
            </div>
        </div>
  <div>
            <h1>Dodatkowe Informacje:</h1>
        </div>
        <div class="item-list">
            <div class="item">
                <p>AAby bot działał z nagrodami za punkty, owe nagrody muszą być z możliwością napisania czegoś w nich, aby bot mógł je wyłapać.
                  Potrzebuje też ID nagrody w tym celu muszę być aktywny przy jakimś odpaleniu nagrody abym mógł wyłapać jej ID (jednorazowa akcja przy każdej nagrodzie za pkt)</p>
            </div>
            <div class="item">
                <p>Aby bot mógł pisać na czacie (potrzebne przy puszczaniu SR za pkt, skipowaniu, zmianami w głośności SR/spotify) potrzebuje on być moderatorem na twitch</p>
            </div>
            <div class="item">
                <p>Jeśli chcemy, aby bot był połączony z Stream Element, spotify, potrzebuje do tego uprawnień i kluczy więcej informacji jak je dostać oraz dodać do bota PW</p>
            </div>
          <div class="item">
                <p>Ponowne włączenie piosenki na spotify nie działa zawsze zponieważ API StreamElements jest ubogie włączenie ponowne spotify działa tylko jeżeli w SR jest 1 piosenka (jeżeli dodajemy i jest to jedyna piosenka) 
              oraz kiedy użyto nagrody "skip"(która skipuje pisenke z SR) wtedy program wylicza za ile ma się włączyć spotify na podstawie trwania kolejki</p>
            </div>
        </div>  
  <div>
        <div>
            <h3 class="footer">W sprawach ustawienia bota oraz kolejnych pomysłów co może robić bot, proszę pisać do DynaM1X1 na twitch albo na dc Dynamix #1054</h3>
          <p>Dynamix bot wersja: Beta 0.4.1</p>
        </div>
    </div>
  </body>
</html>
